<!DOCTYPE html>
<html>
<head>
    <title>Calculating Employee Salaries</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/script.js"></script>

</head>
<body>
    <h1 color = "#112D32">Calculating Employee Salaries</h1>
    <div class ="inputBox">
        <input type="text" id="experience_level" name="experience_level" >
        <span> Experience level</span>
    </div>
   
    <div class="wrap">
        <button class="button" onclick="predictSalaries()">Predict</button>
    </div>
    <div id="result"></div>
</body>
</html>